<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <form name="editForm" role="form" (ngSubmit)="searchByplateNumber()" novalidate [formGroup]="plateForm">
       
      <div>
        <jhi-alert-error></jhi-alert-error>
    
        <div class="row-container">
          <div class="label-col">
            <label class="form-label" for="field_id">Introduce plateNumber</label>
          </div>
          <div class="input-col">
            <input type="text" name="id" data-cy="id" formControlName="plateNumber"/>
          </div>
          <div class="button-col">
            <button
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              [disabled]="plateForm.invalid"
              class="btn btn-primary"
            >
              Check plate number
            </button>
          </div>
        </div>

        <ng-template [ngIf]="!plateExists" [ngIfElse]="message">
          <div>
            <p>There is no plate number</p>
          </div>
        </ng-template>
        
        <ng-template #message>
          <div class="row-container">
            <div class="label-col">
              <label class="form-label" for="field_date">Message</label>
            </div> 
            <div class="input-col">
              <textarea cols="60" rows="4"></textarea>
            
            </div>
          </div>
        </ng-template>
 

        </div>
    </form>
  
  </div>
</div>
