<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Welcome, Java Hipster!</span> (Example)</h1>

    <div>
      <input [(ngModel)]="plateNumber" type="text">
      <button (click)="searchByplateNumber()">Search by plate</button>
    </div>


    <div class="table-responsive table-entities" id="entities" *ngIf="appuser">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="exampleApp.appuser.date">Date</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="exampleApp.appuser.plateNumber">Plate Number</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="exampleApp.appuser.firstName">First Name</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="exampleApp.appuser.lastName">Last Name</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="exampleApp.appuser.email">Email</span>
            </div>
          </th>
          <th scope="col">
            <div class="d-flex">
              <span jhiTranslate="exampleApp.appuser.user">User</span>
            </div>
          </th>
          <th scope="col"></th>
        </thead>
        <tbody>
          <tr>
            <td>{{ appuser.id }}</td>
            <td>{{ appuser.date }}</td>
            <td>{{ appuser.plateNumber }}</td>
            <td>{{ appuser.firstName }}</td>
            <td>{{ appuser.lastName }}</td>
            <td>{{ appuser.email }}</td>
            <td>
              {{ appuser.user?.id }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- FORM -->
    <div class="card bg-dark text white">
      <div class="card-reader" *ngIf="appuser"> Create notification for plate number: {{ appuser.plateNumber }} </div>
      <div class="card-body">
        
        <form (ngSubmit) = "create()">
          <div class="form-group row">
            <label for="message" class="col-form-label col-sm-2"> </label>
            <div class="col-sm-6">
              <input type="text" class="form-control" [(ngModel)]="notification.message" name="message">
            </div>
          </div>
        </form>
        <form>
          <div class="form-group row">
            <label for="status" class="col-form-label col-sm-2"> </label>
            <div class="col-sm-6">
              <input type="text" class="form-control" [(ngModel)]="notification.status" name="status">
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-6">
        <button class="btn btn-primary" role="button"> Create Notification

        </button>
      </div>
    </div>

  </div>